/* ===========================
   SkyrScout
   =========================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;

    background: url("../images/background.png") center center / cover no-repeat fixed;
}

.banner {
    width: 100%;
    display: block;
}

.topbar {

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 60px;

    margin-top: -95px;

    position: relative;
    z-index: 10;
}

.logo {

    display: flex;
    align-items: center;
    gap: 15px;

    font-size: 2rem;
    font-weight: bold;
}

.logo img {

    width: 70px;
    height: 70px;
    border-radius: 50%;
}

nav {

    display: flex;
    gap: 35px;
}

nav a {

    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: .2s;
}

nav a:hover {

    color: #53d5ff;
}

.content {

    max-width: 1200px;
    margin: 120px auto;
    padding: 40px;

    background: rgba(10,15,20,.55);

    backdrop-filter: blur(10px);

    border-radius: 18px;
}

.welcome h1 {

    font-size: 3rem;
    margin-bottom: 20px;
}

.welcome p {

    font-size: 1.25rem;
    line-height: 1.6;
}
